<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Ancho</label>
                    <input type="text" maxlength="4" class="form-control" id="ancho" v-model="form.ancho">
                </div>
                <div class="mb-3">
                    <label class="form-label">Alto</label>
                    <input type="text" maxlength="4" class="form-control" id="lider" v-model="form.alto" name="lider" >
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Información de la imágen</div>
                    <div class="card-body text-secondary">
                         <p class="card-text">Author: <small>{{form.author}}</small></p>
                         <p class="card-text">Ancho: <small>{{form.ancho}}</small></p>
                        <p class="card-text">Alto: <small>{{form.alto}}</small></p>
                        <p class="card-text">
                            <a v-bind:href="form.urlPublic" target="_blank" type="button" class="btn btn-link">
                                Abrir Imagen Original
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="form.ancho && form.alto" class="row mt-5">
            <slide :id="id" :alto="form.alto" :ancho="form.ancho"/>
        </div>
    </div>
</template>

<script>
import slide from './slide.vue';
import FotosServices from '../services/FotosServices';
export default {
  components: { slide },
    name: 'Formulario',
    data: ()=>{
        return {
            // idFoto: this.$route.params.id
            id:null,
            form: {
                id:null,
                author:null,
                ancho: null,
                alto: null,
                url: null,
                urlPublic: null
            }
        }
    },
    FotosServices: null,
    created(){
        this.FotosServices = new FotosServices();
    },
    mounted(){
        this.id = this.$route.params.id;
        console.log("formulario "+this.id);
        this.getById();
    },
    methods: {
        getById(){
            this.FotosServices.getFoto(this.id).then(data => {
                console.log(data.data);
                this.form.id = data.data.id;
                this.form.author = data.data.author;
                this.form.url = data.data.url;
                this.form.urlPublic = data.data.download_url;
            },error => console.log(error));
        }
    }
}
</script>