<template>
    <div class="container mt-5">
        <div class="card-columns">
            <div class="card" v-for="(item, i) in listaFotos" :key="i" v-on:click="irFormulario(i)">
                <img class="card-img-top" v-bind:src="item.download_url" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{item.author}}</h5>
                <p class="card-text">
                    <small class="text-muted">
                        <div class="row">
                            <div class="col">
                                <!-- <button type="button" class="btn btn-success" v-on:click="irFormulario(i)">Abrir</button> -->
                            </div>
                            <div class="col">
                                <a type="button" v-bind:href="item.download_url"  target="_blank" class="btn btn-link">Abrir imagen</a>
                            </div>
                        </div>
                    </small>
                </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FotosServices from '../services/FotosServices';
export default {
    name:'Inicio',
    data: ()=>{
        return {
            listaFotos:null

        }
    },
    FotosServices : null,
    created(){
        this.FotosServices = new FotosServices();
    },
    mounted(){
        this.obtenerListaFotos();
    },
    methods: {
        obtenerListaFotos(){
            this.FotosServices.getFotografias().then(data => {
                this.listaFotos = data.data;
                console.log(this.listaFotos);
            },error => {
                console.log(error);
            });
        },
        irFormulario(idFoto){
            console.log(idFoto);
            this.$router.push({ name: 'formulario', params: { id: idFoto } })
        }

    }
}
</script>
