<template>
    <div class="row">
        <div class="col  mb-10">
            <div>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <span class="badge badge-secondary">Original</span>
                            <img class="d-block w-100" 
                            v-bind:src="'https://picsum.photos/id/'+id+'/'+ancho+'/'+alto" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <span class="badge badge-secondary">Grayscale</span>
                            <img class="d-block w-100" 
                            v-bind:src="'https://picsum.photos/id/'+id+'/'+ancho+'/'+alto + '?grayscale'"  alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <span class="badge badge-secondary">Blur</span>
                            <img class="d-block w-100"  
                            v-bind:src="'https://picsum.photos/id/'+id+'/'+ancho+'/'+alto +'?blur'" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import FotosServices from '../services/FotosServices';
export default {
    name:'Slide',
    props:{
        id:null,
        alto:null,
        ancho:null
    },
    data: ()=>{
        return {
          
        }
    },
    FotosServices: null,
    created(){
        this.FotosServices = new FotosServices();
    },
    mounted(){

    },
    methods: {
        getById(){
            this.FotosServices.getFoto(this.id).then(data => {
                console.log(data.data);
            },error => console.log(error));
        }
    }
}
</script>