<template>
  <div id="app">
    <Navbar/>
    <!-- <Inicio/> -->
    <router-view/>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
import Navbar from './components/navbar.vue';
export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
</style>
